<h1>All my tasks</h1>

<div id="tasks-list" class="list-group">
  <% @tasks.each do |task| %>
    <li class="list-group-item list-group-item-action"><%= link_to task.title, task_path(task) %></li>
  <% end %>
</div>

<div type="button" class="btn btn-outline-primary" style="margin-top: 30px;">
    <%= link_to 'Add a new task', new_task_path %>
</div>
